<div id="manage" class="tabcontent">

    <%- include(viewPath('layouts/error-messages')) -%>

    <div class="permission--container">
        <div class="permission--header">
            <div class="permission--header--title">
                <h3>  ایجاد دسترسی  </h3>
            </div>
            <div class="permission--header--btn">
                <a class="btn btn-error btn-sm bc-red" href="/admin/panel/users/permissions">نمایش لیست دسترسی ها</a>
            </div>
        </div>


        <form class="add--permission" action="/admin/panel/users/permissions/set" method="post">
            <div class="inp--box1">
                <label for="permission--name">     عنوان دسترسی  :  </label>
                <input type="text" name="name" id="permission--name" >
            </div>
            <div class="inp--box1">
                <label for="permission--lable">     توضیح دسترسی  (فارسی) :   </label>
                <input type="text" name="lable" id="permission--lable" >
                <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>">
            </div>

            <input class="btn btn-success btn-sm bc-green" type="submit" value="تایید" >
        </form>
    </div>

</div>
