<% if(errors.length > 0) { %>
    <div id="snackbar" class="error-box">



        <% errors.forEach(error => { %>
            
            <%= error %>    <br>
            
        <% });  %>


    </div>
    <% } %> 

<script>
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
</script>