<div id="status" class="tabcontent">

    <div class="header-status">
        <div class="view-box">
            <h3>بازدید سایت</h3>
            <h4>2006</h4>
        </div>
        <div class="posts-box">
            <h3>تعداد پست ها</h3>
            <h4>560</h4>
        </div>
        <div class="tickets-box">
            <h3>تعداد تیکت ها </h3>
            <h4>20</h4>
        </div>
        <div class="lists-box">
            <h3>تعداد  کاربران</h3>
            <h4>326</h4>
        </div>
    </div>

</div>