<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' id='hitechno-css' href='/css/errors.css' type='text/css' media='all' />

    <title>ارور از سمت سرور</title>
</head>
<body>
    
<div class="error-c">

    <img src="/images/500.png" alt="" >
    <h4>------  <%= message %>  ------</h4>
</div>



</body>
</html>