<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' id='hitechno-css' href='/css/errors.css' type='text/css' media='all' />

    <title><%= message %></title>
</head>
<body>
    

<div class="flex-container">
    <div class="text-center">
      <h1>
        <span class="fade-in" id="digit1">4</span>
        <span class="fade-in" id="digit2">0</span>
        <span class="fade-in" id="digit3">4</span>
      </h1>
      <h3 class="fadeIn"><%= message %></h3>
      
      <button onclick="history.back()">بازگشت به صفحه قبل </button>
    </div>
  </div>

</body>
</html>