







<div class="bill-list-title">

    <h1>لیست تابلو های قابل اکران</h1>
    <p>بر روی استان مورد نظر کلیک کنید</p>

</div>









    <div class="container">



        <div class="service--items row AdjustRow">
            <div class="list-services" data-scroll-reveal="group">

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/mazandaran.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">مازندران</a></h1>

                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/gilan.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">گیلان</a></h1>

                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/golestan.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">گلستان</a></h1>

                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/tehran.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">تهران</a></h1>

                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/esfehan.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">اصفهان</a></h1>

                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>

               <div class="service--item col-md-4 col-xs-6 ">
                  
                  <div class="service-list-content">
                     <img src="/images/tabriz.png" alt="">
                     <h1 class="h3"><a href="packages/cheap.html">تبریز</a></h1>
                     
                     <a href="packages/cheap.html" class="btn btn-default btn-sm">مشاهده لیست</a>
                  </div>
               </div>
            </div>
        </div>       



    </div>






